@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');

.modal-content {
    border-radius: 10%;
    padding: 2rem 2rem
}

.modal-title {
    font-family: 'Lobster',cursive;
    font-size: 2rem;
    line-height: 1;
    
}

.modal-header {
    border: 0px
}

.modal-body {
    padding-top: 0px
}

#buttonRow {
    margin-top: 20px
}
.form-label {
    font-size: 1.25rem;
    font-weight: 500;
}

